################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RIGVaja3/FileContentIndex
/RIGProjeck/.vs/RIGProjeck/FileContentIndex/0bd7d8ef-b25a-471e-a715-a792af2258b2.vsidx
/RIGProjeck/.vs/RIGProjeck/FileContentIndex/0c1b4dbd-2da8-4cb0-b3bb-f2093b3f4a3e.vsidx
/RIGProjeck/.vs/RIGProjeck/FileContentIndex/0c6d0e52-5c5f-45fe-a3f1-baa6bab5b15f.vsidx
/RIGProjeck/.vs/RIGProjeck/FileContentIndex/5399f660-9009-4170-943c-8425473dfede.vsidx
/RIGProjeck/.vs/RIGProjeck/FileContentIndex/821b6022-db23-44ff-aa93-6f1bbf1bc073.vsidx
/.vs/RIGv1/v17/.wsuo
*.vsidx
/RIGProjeck/.vs/RIGProjeck/FileContentIndex/f1424358-deba-45a4-b113-f84eeaf11f4a.vsidx
